.backgroundDiv{
    background-color: rgba(228, 231, 235, 0.4);
}

.loginTableDiv{
    height: 100vh;
    display: flex;
    flex-direction: column; /*수평 정렬*/
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.logindiv {
    position: relative;
    margin: 50px auto;
    width: 400px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: var(--padding);
    /* background-color: #c4dfff; */
    background-color: white;
    border-radius: 7px;
}

.logindiv input {
    margin-bottom: 25px;
}

.logindiv button {
    background-color: rgb(94, 57, 227);
    color: white;
    border-radius: 4px;
    width: 150px;
}

/* .logindiv { 
    height: 300px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;  
    background-color: white;
    border-radius: 25px; 
} */