.memberDiv {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 850px;
    margin: 10px;
}

.memberTable {
    width: 80%;
    border-collapse: collapse;
    table-layout: fixed;
}

.memberInfo {
    
}

.memberTable th, td {
    padding: 10px;
    height: 10px;
    text-align: center;
    word-break:break-all;
    table-layout:fixed;
}

.memberInput{
    width: 90%;
}

.buttonDiv{
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.backBtn .saveBtn {
    margin-top: 5px;
    margin-bottom: 5px;
    height: 30px;
    width: 250px;
    border-radius: 25px;
    background-color: white;
    font-weight: bold;
    justify-content: space-between;
}
