.toDoDiv {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 10px;
    text-align: center;
}

.toDoTable{
    width: 80%;
    border-collapse: collapse;
    table-layout: fixed;
}

.toDoTable td {
    padding: 10px;
    height: 10px;
    text-align: center;
    word-break:break-all;
    table-layout:fixed;
}

.toDoInput{
    width: 70%;
    resize: none;
    text-align: center;
}

.toDoWriteInput{
    width: 70%;
    height: 100px;
    resize: none;
    text-align: center;
}

.buttonDiv{
    margin-top: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.backBtn .saveBtn {
    margin-top: 5px;
    margin-bottom: 5px;
    height: 30px;
    width: 250px;
    border-radius: 25px;
    background-color: white;
    font-weight: bold;
    justify-content: space-between;
}
