.memberDiv {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 10px;
}
/* 
.memberUl{
    width: 20px;
    height: 10px;
    min-width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
} */

.memberTable th, td {
    padding: 10px;
    height: 10px;
    text-align: center;
    word-break: break-all;
    table-layout: fixed;
    font-size: small;
}

.memberTable tr:hover { 
    background-color: #FFFFF3; 
}

.memberTable tr {
    cursor: pointer;
}

.memberAddBtn{
    margin-left: 43%;
    display: flex;
    justify-content: flex-end;
    text-align: right;
}
